#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#buttons, #reducerInputContainer {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  border: 1px solid red;
}