#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#buttons, #reducerInputContainer {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}

.decrementRecord {
  border: 1px solid red;
  background-color: aquamarine;
}

.incrementRecord {
  border: 1px solid green; /* I hope you aren't colorblind because I use red and green for testing all the time sometimes. */
  background-color: orange;
}

