#root {
  max-width: 1280px;
  margin: auto;
  /* margin-top: 25px; */
  /* padding: 2rem; */
  text-align: center;
}

#buttons {
  display: flex;
  justify-content: center;
  border-right: 10px;
}

li {
  list-style: none;
}

.decrementRecord { /* Colors generated and selected from coolors.co */
  background-color: #54426B;
}

.incrementRecord { /* Colors generated and selected from coolors.co */
  background-color: #623CEA;
}

