#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#buttons, #reducerInputContainer {
  display: flex;
  justify-content: center;
}



li {
  list-style: none;
}

.decrementRecord { /* Colors generated and selected from coolors.co */
  background-color: #54426B;
}

.incrementRecord { /* Colors generated and selected from coolors.co */
  background-color: #623CEA;
}

